:root {
  --righteous: 'Righteous', cursive;
  --open-sans: 'Open Sans', sans-serif;
  --bungee: 'Bungee Shade', cursive;
  --graduate: 'Graduate', cursive;
  --card-height: calc(var(--card-width) / .727278);
  --card-width: 12vw;
  --nav-font-size: calc(10px + (20 - 10) * (100vw - 400px) / (1600 - 400));
}

html {
  height: 100vh;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #299104;
  background-image: url('./45-degree-fabric.png');
  background-repeat: repeat; 
  color: white;
  font-family: var(--open-sans);
  font-size: 12px;
  margin: 0;
}

h1, h2, h3 {
  margin: 1rem auto;
}

h1 {
  font-size: 1.75rem;
  line-height: 1.85rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.6rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.35rem;
}





